<h1>Productos</h1>
<div class="row mt-4">
  <div class="col">
    <div class="card bg-default shadow">
      <!-- <div class="card-header bg-transparent border-0">
        <h3 class="text-white mb-0">Productos</h3>
      </div> -->
      <div class="table-responsive">
        <table class="table align-items-center table-dark table-flush">
          <thead class="thead-dark">
            <tr>
              <th scope="col">N°</th>
              <th scope="col">Cod. Interno</th>
              <th scope="col">Cod. Barra</th>
              <th scope="col">Descripción</th>
              <th scope="col">PVP1</th>
              <th scope="col">PVP2</th>
              <th scope="col">Ex. Min.</th>
              <th scope="col">Existencias</th>
              <th scope="col">Ex. Max.</th>
              <th scope="col">F. Modificación</th>
              <th scope="col">Estado</th>
              <th scope="col">Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let prod of data; let i = index">
              <th scope="row">
                <div class="media align-items-center">
                  <div class="media-body">
                    <span class="mb-0 text-sm">{{ i + 1 }}</span>
                  </div>
                </div>
              </th>
              <td>
                {{ prod.codigointerno }}
              </td>
              <td>
                {{ prod.codigobarra }}
              </td>
              <td>
                {{ prod.descripcion }}
              </td>
              <td>
                {{ prod.pvp1 | currency: 'USD' }}
              </td>
              <td>
                {{ prod.pvp2 | currency: 'USD' }}
              </td>
              <td>
                {{ prod.exis_minima }}
              </td>
              <td>
                {{ prod.existencia }}
              </td>
              <td>
                {{ prod.exis_maxima }}
              </td>
              <td>
                {{ prod.fechamod |date: 'dd-MM-yyyy'}}
              </td>
              <ng-container *ngIf="prod.estado == true">
                <td>
                  <span class="badge badge-dot mr-4">
                    <i class="bg-success"></i> Activo
                  </span>
                </td>
              </ng-container>
              <ng-container *ngIf="prod.estado == false">
                <td>
                  <span class="badge badge-dot mr-4">
                    <i class="bg-danger"></i> Inactivo
                  </span>
                </td>
              </ng-container>
              <td class="text-right">
                <div ngbDropdown placement="bottom-right">
                  <a class="btn btn-sm btn-icon-only text-light" ngbDropdownToggle>
                    <i class="fas fa-ellipsis-v"></i>
                  </a>
                  <div ngbDropdownMenu class=" dropdown-menu-right dropdown-menu-arrow">
                    <a class="dropdown-item" (click)="editarProducto(prod)">Editar</a>
                    <a class="dropdown-item" href="javascript:void(0)">Eliminar</a>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
