<h1>Proveedores</h1>
<div class="row mt-4">
  <div class="col">
    <div class="card bg-default shadow">
      <!-- <div class="card-header bg-transparent border-0">
        <h3 class="text-white mb-0">Productos</h3>
      </div> -->
      <div class="table-responsive">
        <table class="table align-items-center table-dark table-flush">
          <thead class="thead-dark">
            <tr>
              <th scope="col">N°</th>
              <th scope="col">Documento</th>
              <th scope="col">Nombre</th>
              <th scope="col">Empresa</th>
              <th scope="col">Dirección</th>
              <th scope="col">Teléfono</th>
              <th scope="col">Correo electrónico</th>
              <th scope="col">URL</th>
              <th scope="col">Comentarios</th>
              <th scope="col">Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let prod of data; let i = index">
              <th scope="row">
                <div class="media align-items-center">
                  <div class="media-body">
                    <span class="mb-0 text-sm">{{ i + 1 }}</span>
                  </div>
                </div>
              </th>
              <td>
                {{ prod.ci_ruc }}
              </td>
              <td>
                {{ prod.nombre }}
              </td>
              <td>
                {{ prod.empresa }}
              </td>
              <td>
                {{ prod.direccion }}
              </td>
              <td>
                {{ prod.telefono }}
              </td>
              <td>
                {{ prod.email }}
              </td>
              <ng-container *ngIf="prod.url != 'null' || prod.null != undefined; else elseBlock">
                <td>
                  {{ prod.url }}
                </td>
              </ng-container>
              <ng-template #elseBlock>
                <td>
                  -
                </td>
              </ng-template>
              <td>
                {{ prod.nota }}
              </td>
              <td class="text-right">
                <div ngbDropdown placement="bottom-right">
                  <a class="btn btn-sm btn-icon-only text-light" ngbDropdownToggle>
                    <i class="fas fa-ellipsis-v"></i>
                  </a>
                  <div ngbDropdownMenu class=" dropdown-menu-right dropdown-menu-arrow">
                    <a class="dropdown-item" (click)="editarProveedor(prod)">Editar</a>
                    <a class="dropdown-item" (click)="eliminarProveedor(prod.id)">Eliminar</a>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
